* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

#bg-image{

    background-image: url("../../assets/img/bg-signets.JPG");
    height:30vh;
    width: 100%;
    justify-content: center;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

}

.bande-noire{

    height:100%;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background-image: linear-gradient(to right bottom, rgba(6, 6, 6, 0.97),rgba(2, 2, 2, 0.97));

}
.signet{
    background-image: linear-gradient(to right bottom, rgb(29, 29, 29),rgb(24, 24, 24));
    display: inline-block;
    top:10%;
    color: whitesmoke;
    margin: 1vh;
    height:auto;
    max-height: 100vh;
    padding: 1vh;
    margin-left: 1vh;
    margin-right: 1vh;
    max-width: 100%;
    min-width:10%;
    width: auto;
 
}
.contenu-signet{
   
    margin:2vh;
}

.lien{
margin-left: 1vh;
color: rgb(8, 235, 243);
margin-left: 1vh;
margin-right: 1vh;
max-width: 80%;
min-width:10%;
width: auto;
word-wrap: break-word;
}

.button-group{
    float: right;
    
}

.btn-custom{

    border:1px solid white;
    color: white;
    padding-left:1vh;
    padding-right:1vh;
    margin:0.5vh;
    max-width: 100%;
    min-width:10%;
    width: auto;
    font-size: 20px;
}
.btn-custom:hover{
    color: rgb(8, 235, 243);
    border:1px solid rgb(8, 235, 243);
}
.btn-submit-custom{
    border:1px solid white;
    color: white;
    padding-left:1vh;
    padding-right:1vh;
    margin:0.5vh;
    width: 20rem;
    padding:0.2vh;
    font-size: 20px;
}
.btn-submit-custom:hover{
    color: rgb(243, 220, 8);
    border:1px solid rgb(243, 220, 8);
}
.custom-input{
    width:45vh;
    height:4vh;
    padding: 1vh;
    margin: 1vh;
}
ul {
    list-style-type: none;
}