<div class="container-fluid" id="bg-image">
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-10">
			<div class="circle1 glass text-center">
				<div *ngIf="(signets | async)?.length; then showSignets; else notShow"></div>
				<ng-template #showSignets>
					<br /><br />
					<ul *ngFor="let signet of signets | async" class="list-group">
						<li class="list-group-item signet">
							<div class="row">
								<div class="col-sm-10">
									{{ signet.NomSignet }} : <a href="{{ signet.Lien }}" target="_blank" class="lien">{{ signet.Lien }}</a>
								</div>
								<div class="col-sm-2">
									<button type="button" class="btn btn-custom" (click)="voirSignet(signet)">Voir</button>
									<button type="button" class="btn btn-custom" (click)="editSignet(signet)">Éditer</button>
									<button type="button" class="btn btn-custom" (click)="deleteSignet(signet)">Supprimer</button>
								</div>
								<div class="row">
									<div *ngIf="signetEnVue && signetAVoir.id == signet.id">
										<p>Voici le signet {{ signet.NomSignet }} :</p>
										<p>{{ signet.DescriptionSignet }}</p>
										<br />
									</div>
									<div *ngIf="editState && signetAEditer.id == signet.id">
										<form (ngSubmit)="updateSignet(signet)">
											<div class="row">
												<div class="input-field">
													<input type="text" placeholder="Nom du Signet" [(ngModel)]="signet.NomSignet" name="nom" />
												</div>
												<div class="input-field">
													<input
														type="text"
														placeholder="Description du Signet"
														[(ngModel)]="signet.DescriptionSignet"
														name="description"
													/>
												</div>
												<div class="input-field">
													<input type="text" placeholder="Insérer le lien du signet ici" [(ngModel)]="signet.Lien" name="lien" />
												</div>
												<input type="submit" value="Update Signet" class="btn btn-primary" />
											</div>
										</form>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</ng-template>
				<ng-template #notShow>Oups... vous n'avez pas encore fait de signets!</ng-template>
			</div>
		</div>
		<div class="col-sm-1"></div>
	</div>
</div>
