<div class="container-fluid" id="bg-image"></div>
<div class="container-fluid" class="bande-noire">
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-10">
			<div class="text-center">
				<div *ngIf="(signets | async)?.length; then showSignets; else notShow"></div>
				<ng-template #showSignets>
					<br /><br />
					<ul *ngFor="let signet of signets | async" class="list-group">
						<li class="list-group-item signet">
							<div class="row">
								<div class="col text-justify">
									<h3>{{ signet.NomSignet }} : {{ signet.DescriptionSignet }}</h3>
								</div>
								<br />
								<div class="row">
									<div class="col">
										<br />
										<button type="button" class="btn btn-custom" (click)="voirSignet(signet)">Voir</button><br />
										<button type="button" class="btn btn-custom" (click)="editSignet(signet)">Éditer</button><br />
										<button type="button" class="btn btn-custom" (click)="deleteSignet(signet)">Supprimer</button><br />
									</div>
								</div>
								<div class="row">
									<div *ngIf="signetEnVue && signetAVoir.id == signet.id">
										<br />
										<h5>Voici le signet {{ signet.NomSignet }} :</h5>
										<p>
											<a href="{{ signet.Lien }}" target="_blank" class="lien">{{ signet.Lien }}</a>
										</p>
										<br />
									</div>
									<div *ngIf="editState && signetAEditer.id == signet.id">
										<form (ngSubmit)="updateSignet(signet)">
											<div class="row">
												<div class="col text-center">
													<div class="input-field">
														<input type="text" placeholder="Nom du Signet" [(ngModel)]="signet.NomSignet" name="nom" class="custom-input" />
													</div>
													<div class="input-field">
														<input
															type="text"
															placeholder="Description du Signet"
															[(ngModel)]="signet.DescriptionSignet"
															name="description"
															class="custom-input"
														/>
													</div>
													<div class="input-field">
														<input
															type="text"
															placeholder="Insérer le lien du signet ici"
															[(ngModel)]="signet.Lien"
															name="lien"
															class="custom-input"
														/>
													</div>

													<input type="submit" value="Update Signet" class="btn btn-submit-custom" />
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</ng-template>
				<ng-template #notShow>Oups... vous n'avez pas encore fait de signets!</ng-template>
			</div>
			<br />
		</div>
		<div class="col-sm-1"></div>
	</div>
</div>
<div class="container-fluid" id="bg-image"></div>
