<div class="container-fluid" id="bg-image">
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-8">
			<section>
				<div class="circle1 glass text-center">
					<form [formGroup]="addForm">
						<div class="form-group">
							<label for="inputNomSignet" class="labels">Nom du Signet</label>
							<input type="text" class="form-control custom-input" id="inputNomSignet" placeholder="Nom Signet" formControlName="name" />
						</div>
						<div class="form-group">
							<label for="InputDescription" class="labels">Description du Signet</label>
							<input
								type="text"
								class="form-control custom-input"
								id="InputDescription"
								placeholder="Description"
								formControlName="description"
							/>
						</div>
						<div class="form-group">
							<label for="InputLien" class="labels">Lien du Signet</label>
							<input
								type="text"
								class="form-control custom-input"
								id="InputLien"
								placeholder="Insérez votre lien ici"
								formControlName="link"
							/>
						</div>
						<div class="form-group">
							<button type="submit" id="btnLogin" class="btn custom-btn" (click)="onCreate()">Ajouter le Signet</button>
							<label for="btnLogin" *ngIf="hasError; then showError; else hideError"></label>
							<ng-template #showError>
								<br />
								<p class="errorMessage">{{ accountErrorMessage }}</p>
							</ng-template>
							<ng-template #hideError></ng-template>
						</div>
					</form>
				</div>
			</section>
		</div>
		<div class="col-sm-2"></div>
	</div>
</div>
