<div class="container-fluid">
	<div id="parallax-image">
		<div class="row h-100">
			<div class="col-md-12 align-self-center"></div>
		</div>
	</div>
</div>
<div class="container-fluid custom-block align-self-center">
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-2">Signets</h1>
			<br />
			<p class="lead">Créé afin de centraliser vos liens web préférés.</p>
		</div>
		<hr class="my-4" />
		<p>L'application Signets a autant d'utilités que vous pouvez en trouver! Voici quelques avantages que l'application vous procurent:</p>
		<br /><br />
		<div class="container">
			<div class="row">
				<div class="col-sm-3 col-md-3">
					<img src="../../assets/img/livre.png" class="centered-img" />
					<br />
					<br />
					<p class="text-center">Signets vous permet de regrouper tous vos liens favoris sur le web et d'en faire pratiquement un livre!</p>
					<br />
				</div>
				<div class="col-sm-1" style="margin: 1em"></div>
				<div class="col-sm-3 col-md-3">
					<img src="../../assets/img/centraliser.png" class="centered-img" />
					<br />
					<br />
					<p class="text-center">
						De ce fait, Signets vous permettra donc de centraliser tous vos liens favoris en une seule place. Plus besoin de chercher
						partout!
					</p>
					<br />
				</div>
				<div class="col-sm-1" style="margin: 1em"></div>
				<div class="col-sm-3 col-md-3">
					<img src="../../assets/img/organiser.png" class="centered-img" />
					<br />
					<br />
					<p class="text-center">Cet outil vous permettra donc d'être beaucoup plus organisé!</p>
					<br />
				</div>
			</div>
		</div>
		<br />
		<p class="lead">
			<br />Si vous êtes intéressé, n'hésitez-pas à vous faire un compte GRATUIT dès maintenant!<br /><br />
			<a class="btn btn-lg btn-custom" href="#" role="button">Inscrivez-vous!</a>
		</p>
	</div>
</div>
<div class="container-fluid">
	<div id="parallax-image-two">
		<div class="row h-100">
			<div class="col-md-12 align-self-center"></div>
		</div>
	</div>
</div>

<div class="container-fluid custom-block align-self-center">
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">À propos</h1>
			<br />
			<p class="lead">En savoir plus sur le créateur du site, etc</p>
		</div>
		<hr class="my-4" />
		<p class="lead">
			<br />Si vous souhaitez en savoir plus sur le créateur de l'application, des questions ou avez trouvé des bugs dans le site, n'hésitez
			surtout pas à consulter la page "À Propos" ci-dessous!<br /><br />
			<a class="btn btn-lg btn-custom" href="#" role="button">En Savoir plus</a>
		</p>
	</div>
</div>
